
:root {
    /* Variáveis: mude aqui e muda no site todo! */
    --cor-fundo: #051224;
    --cor-card: #2A1810;
    --cor-detalhes: #C5A059;
    --cor-destaque: #5A6473; /* Amarelo Ouro */
    --cor-texto: #E8D9B5;
}

* {

    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {  
    display: flex;
    flex-direction: column;
    min-height: 100VH;
    background-color: var(--cor-fundo);
}


#logo-img{
    width: 500px;
    height: 200px;
}

#principal{
    flex: 1;
}

#principal__geral {
    display: flex;
    flex-direction: column;
    float: right;
    color: var(--cor-texto);
    margin: 40px;
    background-color: var(--cor-card);
    gap: 30px;
    border-radius: 25px;
    padding: 30px 50px 30px 50px;
    box-shadow: 9px 9px 8px #090605;
}

#principal__texto{
    margin: 80px 0px 0px 25px;
}

.campo__grupo{
    background-color: var(--cor-card);
    display: flex;
    gap: 20px;
    justify-content: space-between;
}



#nome__item, #qtd__item{
    background-color: var(--cor-texto);
    padding: 3px;
    border: none;
    border-radius: 5px;
}

#botao__adicionar{
    border: 2px solid var(--cor-detalhes);
    background-color: var(--cor-card);
    color:var(--cor-texto);
    border-radius: 7px;
    margin-left: 30%;
    padding: 3px;
    cursor: pointer;
    transition: 0.3;
    
}
#botao__adicionar:hover{
    background-color: var(--cor-texto);
    color: var(--cor-fundo);
    transform: scale(1.01)
}

#item-lista {
    color: whitesmoke;
    background-color: var(--cor-card);
    border-left: 5px solid var(--cor-texto); /* Aquela bordinha de RPG */
    padding: 20px 15px 20px 15px;
    margin: 10px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3); /* Sombra para parecer 3D */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

/* Cria a coluna do Nome */
.coluna-nome {
    width: 45%; /* Define que o nome sempre ocupa 45% do card */
    display: flex;
    gap: 30px;
}

/* Cria a coluna da Quantidade */
.coluna-qtd {
    width: 35%; /* Define que a quantidade sempre ocupa 35% do card */
    display: flex;
    gap: 30px;
}



.botao-remover {
    background-color: #8B1A1A; /* Vermelho */
    color:var(--cor-texto);
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s; 
}

.botao-remover:hover {
    background-color: #c0392b; 
    transform: scale(1.05);    
}

input::placeholder {
    color: #1b1919; 
    font-style: italic; 
}

.texto-destaque{
    color: var(--cor-texto);
}

.mensagem-vazia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border: 2px dashed var(--cor-detalhes);     
    border-radius: 15px;
    color: var(--cor-texto);
    text-align: center;
    opacity: 0.8;
    margin-top: 100px;
}

.mensagem-vazia p {
    font-style: italic;
    font-size: 1.1rem;
    margin-top: 10px;
}

#rodape{
    color: var(--cor-detalhes);
    text-align: center;
}

#link{
    color: var(--cor-detalhes);
}